* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:  rgb(245,245,245);
   
}
img{
    width: 100%;
}
.left{
    position: fixed;
    float: left;
    text-align: center;
    width: 20%;
  
    background-color: rgb(8,22,39);
    height: 100vh;
    color: rgb(116,167,187);
}

.left .container .logo{
    width: 90%;
    padding: 20px;
}
.left .container .menuWarehouse{
    margin-top: 50px;
}
.left .container .menuItem1{
   
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(22, 51, 87);
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.right{
    float: right;
    width: 80%;
}
.right .MuiInputBase-root {
    width: 70%;
}
 .deleteImage{
    position: absolute;
    border: 0;
    right: 17px;
    background-color: #ffffffb3;
}
.right .css-15wwp11-MuiTableHead-root{
    background-color: rgb(243,244,246);
}