.productDetail{
    margin-top: 170px;
    display: inline-block;
    width: 100%;
    min-height: 500px;
}
.leftDetail{
    float: left;
    width: 50%;
   text-align: right;
}
.leftDetail .img{
    width: 90%;
  padding-left: 100px;
}
.rightDetail{
    float: right;
    text-align: left;
    width: 50%;
    padding: 40px;
}
.btnAddCart{
  margin-top: 20px;
}