.imgDetail{
     width: 60%;
     margin: auto;
}
.productDetail{
  
    
}
.leftDetail{
    padding:    2%;
   float: left;
   width: 50%;
   
   border-right: 1px solid rgba(0, 0, 0, 0.144);
}
.productDetail{
   width: 80%;
   margin: auto;
   margin-top: 70px;
   display: flex;
margin-bottom: 30px;
border-radius: 20px;
    background-color: white;
   
}
.carousel{
   
}
.rightDetail .nameBook{
    margin-top: 40px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
   padding-left: 40px;
}
.countRating {
    color: rgb(88,182,253);
    font-weight: 500;
    font-size: 14px;
    position: relative;
  
   
}
.rightDetail .priceBook{
    display: flex;
   align-items: center;
   padding-left: 40px;
   margin-bottom: 20px;
}
.priceBook h1{
font-family: Arial, Helvetica, sans-serif;
margin-left: 45px;
}
.priceBook p{
   font-size: 15px;
    }
.rightDetail  .rating{
    margin-bottom: 20px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.rightDetail{
    float: right;
    width: 50%;
   
}
.rightDetail .quantityControl{
  text-align: center;
  display: flex;
    background-color: rgb(245,247,250);
    padding: 10px;
    align-items: center;
    padding-left: 40px;
}
.rightDetail .quantityControl .btnMinus{
    padding: 7px 12px;  
border: 1px solid rgba(0, 0, 0, 0.308);
margin-left: 40px;
background-color: white;
}
.rightDetail .quantityControl .btnPlus{
    padding: 7px 12px;
   
    border: 1px solid rgba(0, 0, 0, 0.308);
    background-color: white;
    }
.rightDetail .quantityControl .btnQuantity{
        padding: 7px 20px;
        border: 1px solid rgba(0, 0, 0, 0.308);
       border-left: none;
        background-color: white;
        border-right: none;
        
        }
.rightDetail  .btnAddCart{
    padding: 7px 30px;
    font-size: 18px;
    border: 1px solid rgb(147,135,217);
    color: rgb(147,135,217);
    margin-left: 40px;
    margin-top: 20px;
}
.contact{
    padding-left: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.tab{
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 20px;
}