footer{
  
    padding: 2% 5%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    text-align: left;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 40px;
}
.footer .restoration a{
    color: black;
    font-size: 12px;
}
.footer  .itemContact{
    font-size: 12px;
    
}
.footer  .social{
    font-size: 12px;
}
.footer  .about{
    font-size: 12px; 
}
.footer  .contactUs p{
    color: rgb(114, 114, 114);
}
.footer  .social a{
    color: rgb(114, 114, 114);
}
.footer  .restoration a{
    color: rgb(114, 114, 114);
}
.footer  .about a{
    color: rgb(114, 114, 114);
}
.footer  .imgPay {
   height: 36%;
}